*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: url(/fecha-y-hora/assets/img/Captura65561.JPG) #000;
    background-size: cover;
    color: #fff !important;
    font-size: 16px;
}

.wrap{
    width: 90%;
    max-width: 1000px;
}

.widget{
    /* width: 60%; */
}

.widget p{
    display: inline-block;
    line-height: 1em;
    margin: 0px 3px;
}

.fecha{
    font-family: Oswald, Arial;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.3125rem;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 70%;
}

.reloj{
    background: rgba(0, 0, 0, .5);
    font-family: Oswald, Arial;
    font-size: 4em;
    text-align: center;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.caja-segundos{
    margin-left: 3px; 
}


.segundos, .ampm{
    font-size: 2rem;
    display: block !important;
    
}

#container-clock{
    margin-top: 100px;
    width: 230px;
}

#buttons-chron div{
    cursor: pointer;
}
#time{
    font-size: 40px !important;
    font-weight: 600;
}

#clock-container{
    padding: 50px;
}
#corral{
    margin: auto;
    width: 500px;
    height: 300px;
    background-color: gainsboro;
    border-radius: 1rem;
    border: rgb(91, 63, 63) 5px solid;
    box-sizing: border-box !important;
}   
#mascota{
    width: 100px;
    height: 100px;
}
#mascota img{
    width: 100px;
    height: 100px;
    padding: 5px !important;
    padding-bottom: 0px !important;
}
.is-active{
    background-color: black;
    /* background-color: blue; */
}